<ngb-carousel class="" *ngIf="images">
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img class="carousel_image" [src]="images[0]" alt="Random second slide">
        </div>
        <div class="carousel-caption d-md-block">
          <h1 class="">Helyhez kötött megoldások</h1>
          <p class="">Az EnerSys szükségáramforrás tárolókat gyárt azokhoz az ipari alkalmazásokhoz, ahol az energia ellátás folyamatossága megkerülhetetlen.</p>
          <button class="btn btn-lg btn-primary">Helyhez kötött megoldások</button>
        </div>
      </ng-template>
    <ng-template class="align-middle" ngbSlide>
      <div class="picsum-img-wrapper">
        <img class="carousel_image" [src]="images[1]" alt="Random first slide">
      </div>
      <div class="carousel-caption d-md-block">
        <h1 class="text-dark">Szerviz</h1>
        <p class="text-dark">Az EnerSys értékesített termékeinek üzemeltetéséhez szolgáltatások széles választékát biztosítja. Képzett szakember gárdával, kiterjedt szervizhálózattal és optimalizált alkatrész ellátással biztosítja ügyfelei részére a zavartalan működést szerte a világban.</p>
        <button class="btn btn-lg btn-primary">Szerviz megoldások</button>
      </div>
    </ng-template>
    
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img class="carousel_image" [src]="images[2]" alt="Random third slide">
      </div>
      <div class="carousel-caption d-md-block">
        <h1 class="">Targonca üzletág</h1>
        <p class="">Ahol mobil meghajtó energiára van szükség ott az EnerSys minden igényt kielégítő energiatárolási megoldásokat kínál. Világszerte több, mint 32 gyár és összeszerelő üzem, több, mint 100 országban jelenlévő leányvállalata vagy kereskedelmi partnere szolgálják ki az EnerSys ügyfeleit.</p>
        <button class="btn btn-lg btn-primary">Motive megoldások</button>
      </div>
    </ng-template>
  </ngb-carousel>

  <div class="main-slider-bottom">
    <div class="container pt-5 pb-5 pl-5 pr-5">
        

<div class="">
    <p>Az ipari alkalmazású energiatároló rendszerek világpiac vezető akkumulátor gyártója az EnerSys Plc. . A meghajtó, a tartalék áramforrású, az űrkutatási, a védelmi és a speciális akkumulátorok széles választékát teljes körű szervizszolgáltatások és kiegészítő rendszerek teszik teljessé. Az egyenáramú energiatárolásban eltöltött több, mint 100 éves tapasztalat, a kémiai áramforrásgyártásban szerzett tudás, a világot behálózó értékesítési és szerviz hálózat minden igényt kielégítő megoldásai és a folyamatos innováció szerte a világban biztosítják az EnerSys piacvezető szerepét.</p></div>

    </div>
</div>
<div class="container index-group mt-3 mb-3">
    <div class="row">
                

        <div class="custom col-md-4 col-sm-12">
            <div class="media">
                <div class="icon-container"><span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-car-battery fa-stack-1x fa-inverse"></i>
                  </span></div>
                <div class="media-body">
                <h5 class="mt-0">Helyhez kötött üzletág</h5>
                Szükségáramforrás tárolók olyan <strong>ipari folyamatok üzembiztonságának garantálására</strong>, melyeknél elkerülhetetlen az energiaellátás folyamatos, megszakítás nélküli biztosítása.<br>Az EnerSys élen jár az energiatárolási technológiákban, és széles körben kínál hatékony megoldásokat a különféle alkalmazásokhoz.</div>
            </div>
        </div>


        <div class="custom col-md-4 col-sm-12">
            <div class="media">
                <div class="icon-container"><span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-luggage-cart fa-stack-1x fa-inverse"></i>
                  </span></div>
                <div class="media-body">
                <h5 class="mt-0">Targonca üzletág</h5>
                Ahol mobil meghajtó energiára van szükség ott az EnerSys minden igényt kielégítő energiatárolási megoldásokat kínál.<br> Gyártmánycsaládjainak, mint a <strong>Hawker</strong>, a <strong>Fiamm Motive Power</strong> és az <strong>Energia</strong> főbb alkalmazási területei: az anyagmozgatás – elsősorban elektromos targoncák; a mobil berendezések energiaellátása.</div>
            </div>
        </div>


        <div class="custom col-md-4 col-sm-12">
            <div class="media">
                <div class="icon-container"><span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-tools fa-stack-1x fa-inverse"></i>
                  </span></div>
                <div class="media-body">
                    <h5 class="mt-0">Szerviz</h5>
                    <p>Az EnerSys értékesített termékeinek üzemeltetéséhez szolgáltatások széles választékát biztosítja. Képzett <strong>szakember gárdával</strong>, <strong>kiterjedt szervizhálózattal</strong> és optimalizált <strong>alkatrész ellátással</strong> biztosítja ügyfelei részére a zavartalan működést szerte a világban.</p>
                </div>
            </div>
        </div>

    </div>
</div>