<form id="loginForm" #myForm="ngForm" (ngSubmit)="send(myForm)" novalidate class="container my-2">
    
    <div class="form-group">
      <label for="api">Api kulcs</label>
      <input [(ngModel)]="api" name="api" id="api" class="form-control" placeholder="Név" required="True">
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input  name="email" id="email" class="form-control" placeholder="Név" required="True">
      </div>
      <div class="form-group">
        <label for="veznev">Vezetéknév</label>
        <input  name="veznev" id="veznev" class="form-control" placeholder="Név" required="True">
      </div>
      <div class="form-group">
        <label for="kernev">Keresztnév</label>
        <input  name="kernev" id="kernev" class="form-control" placeholder="Név" required="True">
      </div>
      <div class="form-group">
        <label for="zip">Irányítószám</label>
        <input  name="zip" id="zip" class="form-control" placeholder="Név" required="True">
      </div>
      <div class="form-group">
        <label for="varos">Város</label>
        <input  name="varos" id="varos" class="form-control" placeholder="Név" required="True">
      </div>
      <div class="form-group">
        <label for="cim">Cím</label>
        <input  name="cim" id="cim" class="form-control" placeholder="Név" required="True">
      </div>
      <div class="form-group">
        <label for="tele">Telefonszám</label>
        <input name="tele" id="tele" class="form-control" placeholder="Név" required="True">
      </div>
    <div class="row">
      <button type="submit" class="btn btn-primary mx-1" >Létrehozás</button>
    </div>
  </form>


  <table mdbTable>
    <thead>
      <tr>
        <th *ngFor="let head of displayedColumns" scope="col">{{head}} </th>
      </tr>
    </thead>
    <tbody>
      <tr mdbTableCol *ngFor="let el of dataSource">
        <th scope="row">{{el.id}}</th>
        <td>{{el.name}}</td>
      </tr>
    </tbody>
  </table>
  
  