<div class="container subpage-content">
    <nav class="navbar navbar-expand-lg navbar-light bg-light container my-2">
        <div class="container-fluid">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="['/']"><i class="fas fa-home"></i></a></li>
                    <li class="breadcrumb-item active" aria-current="page">
                        <a>Szerviz</a>
                    </li>
                </ol>
            </nav>
        </div>
    </nav>

    <div id="mainContent">

        <div class="container subpage-content">

            <div class="subpage-component">
                <div class="row">
                    <div class="col-md-12">
                        <h1 itemprop="headline">Szerviz</h1>
                    </div>
                    <div itemprop="articleBody">
                        <div class="row">
                            <div class="col-md-4 col-sm-12 pb-5"><img class="mr-3"
                                    src="https://www.enersys.hu/images/szerviz.png" alt="szerviz"></div>
                            <div class="col-md-8 col-sm-12 pb-5">Az EnerSys értékesített termékeinek üzemeltetéséhez
                                szolgáltatások széles választékát biztosítja. Képzett szakember gárdával, kiterjedt
                                szervizhálózattal és optimalizált alkatrész ellátással biztosítja ügyfelei részére a
                                zavartalan működést szerte a világban. Az EnerSys ügyfélbarát megközelítése a rugalmas,
                                megbízható, szakértő közreműködés, amely partnereinek minden üzleti igényét kielégíti.
                            </div>
                            <div class="col-md-12 pb-5">
                                <h5>Szolgáltatások</h5>
                                <ul>
                                    <li>
                                        <b>Eseti javítás és karbantartás</b>
                                    </li>
                                    <li><b>Megelőző, tervszerű, rendszeres karbantartás</b></li>
                                    <li><b>Tervezés és kivitelezés - töltőállomások, töltőhelyiségek</b></li>
                                    <li><b>Élettartam garancia és tervezhető költség előrejelzés</b></li>
                                    <li><b>Szakmai szaktanácsadás és konzultáció</b></li>
                                    <li><b>Vezetői jelentések, előrejelzések</b></li>
                                </ul>
                            </div>
                            <div class="col-md-8 col-sm-12">Az Ön dolga akkumulátorainak csúcsformában tartása. A
                                megfelelő,
                                előírások szerinti üzemeltetés és karbantartás tudja csak biztosítani az elvárt
                                élettartamot
                                és megbízható üzemvitelt. Mindig kövesse a gyártó használati utasításait és tartsa be az
                                időszakos ellenőrzések előírásait. Az időszakos tevékenységek elvégzését bízza
                                szakembereinkre, amellyel levesszük az Ön válláról a terhet. Mindig viseljen megfelelő
                                védőfelszerelést, ha akkumulátorokkal foglalkozik!</div>
                            <div class="col-md-4 col-sm-12"><img class="ml-3"
                                    src="https://www.enersys.hu/images/wiiq_diag.jpg" alt="wiiq diag"></div>
                            <div class="col-md-12">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>