

<div class="container subpage-content">
    <nav class="navbar navbar-expand-lg navbar-light bg-light container my-2">
      <div class="container-fluid">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/']"><i class="fas fa-home"></i></a></li>
            <li class="breadcrumb-item" aria-current="page">
              <a>Helyhezkötött üzletág - Reserve</a>
            </li>
          </ol>
        </nav>
      </div>
    </nav>
    
    <div class="subpage-component">
      <div class="row">
        <div class="col-md-12">
          
  
          <div class="item-page">
            <meta itemprop="inLanguage" content="hu-HU">
            <div class="page-header">
              <h1 itemprop="headline">
                Helyhezkötött üzletág - Reserve </h1>
            </div>
  
  
  
  
  
            <div itemprop="articleBody">
              <div class="row">
                <div class="text-center col-md-12 pt-5 pb-5"><img src="https://www.enersys.hu/images/reserve_main.jpg" alt="reserve main"></div>
                <div class="col-md-8 col-sm-12">
                  <p>Az EnerSys szükségáramforrás tárolókat gyárt azokhoz az ipari alkalmazásokhoz, ahol az energia
                    ellátás folyamatossága megkerülhetetlen. Az EnerSys, mint a világpiac vezető ipari akkumulátor
                    gyártója világszerte az elsődleges választás az ügyfelek számára. A több, mint száz éves múltra
                    visszatekintő gyártási tapasztalata és innovatív technológiái minden műszaki igényt kielégítő
                    termékválasztékot biztosítanak. Világszerte több, mint 32 gyár és összeszerelő üzem, több, mint 100
                    országban jelenlévő leányvállalatai és kereskedelmi partnerei szolgálják ki az EnerSys ügyfeleit. Mint
                    a világ egyik legnagyobb ipari akkumulátor gyártója, az EnerSys élenjár az energiatárolási
                    technológiákban és széles körben kínál hatékony megoldásokat a különféle alkalmazásokhoz. A közismert
                    PowerSafe, DataSafe, Genesis, Odyssey és Cyclon márkanevek széles körben használtak a
                    telekommunikáció, az IT, a közműszolgáltató (áram, víz, gáz szolgáltatók és erőművek), az UPS, az
                    általános elektronikai és speciális alkalmazások területén.</p>
                </div>
                <div class="col-md-4 col-sm-12"><img src="https://www.enersys.hu/images/rp_plants.png" alt="rp plants"></div>
                <div class="col-md-12 col-sm-12 text-center pt-5">
                  <h4>Forgalmazott márkák</h4>
                  <br><img src="https://www.enersys.hu/images/markak.png" alt="markak">
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>