<div class="container subpage-content">

  <nav class="navbar navbar-expand-lg navbar-light bg-light container my-2">
    <div class="container-fluid">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a [routerLink]="['/']"><i class="fas fa-home"></i></a></li>
          <li class="breadcrumb-item" aria-current="page">
            <a>Targonca üzletág - Motive</a>
          </li>
        </ol>
      </nav>
    </div>
  </nav>
  <div class="subpage-component">
    <div class="row">
      <div class="col-md-12">
        <div id="system-message-container">
        </div>

        <article class="item-page my-2">
          <div class="page-header">
            <h1 itemprop="headline">
              Targonca üzletág - Motive </h1>
          </div>





          <div itemprop="articleBody">
            <div class="row">
              <div class="col-md-12 text-center pt-5 pb-5"><img src="https://www.enersys.hu//images/chrgers.jpg" alt="chrgers"></div>
            </div>
            <p>Ahol mobil meghajtó energiára van szükség ott az EnerSys minden igényt kielégítő energiatárolási
              megoldásokat kínál. Világszerte több, mint 32 gyár és összeszerelő üzem, több, mint 100 országban
              jelenlévő leányvállalata vagy kereskedelmi partnere szolgálják ki az EnerSys ügyfeleit. Mint a világ egyik
              legnagyobb ipari akkumulátor gyártója, az EnerSys élenjár az energiatárolási technológiákban és széles
              körben kínál hatékony megoldásokat a különféle alkalmazásokhoz. Gyártmánycsaládjainak, mint a Hawker, a
              Fiamm Motive Power és az Energia főbb alkalmazási területei: az anyagmozgatás – elsősorban elektromos
              targoncák; a mobil berendezések energiaellátása – személyemelők, takarítógépek stb.; egyéb speciális,
              ciklikus igénybevételű alkalmazások – rokkantkocsi, golfkocsi stb. és a hibrid üzemű berendezések.</p>
            
          </div>
          


        </article>
      </div>
    </div>
  </div>
</div>